* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 83%;
}

h1, h2, h3 {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
}

a, a:visited {
  color: black;
}

a:hover {
  color: rgb(0,220,235);;
  background-color: gray;
}

.page-topper {
 width: 100%;
 height: 50px;
 display: flex;
 justify-content: space-around;
 align-items: flex-end;
}

.page-topper * {
  margin: 0;
}

.page-title {
  display: flex;
  flex-direction: column;
}

.page-title .subtitle {
  margin-left: 10px;
}

.name {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

.top-nav-list {
  margin: 0;
  padding: 0;
}

.top-nav-item {
  list-style-type: none;
}

.hero {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .tagline {
  font-family: 'Bevan', serif;
  font-size: 3.2em;
}

.content {
  width: 90%;
  margin: auto;
}

.content section {
  height: 100vh;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

.section-header {
  margin-bottom: 2em;
}

.section-title {
  margin: 0;
}

.about-content, .projects-content, .contact-and-links {
  flex-grow: 2;
  display: flex;
}

.about-content {
  flex-direction: column;
  justify-content: center;
}

.projects-content {
  flex-wrap: wrap;
  position: relative;
}

article.project {
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

.project-links {
  padding: 0;
}

.project-links:first-child::after {
  content: " ";
  width: 2px;
  height: 10px;
  border: 1px solid black;
}

.project-link-item {
  list-style-type: none;
  display: inline;
}

.contains-sublist {
  display: inline-flex;
  align-items: flex-start;
  align-content: flex-start;
}

.project-links-sub-list {
  display: inline;
  padding: 0 0 0 5px;
}

.project-links-sub-list .project-link-item {
  display: block;
}

.image-container {
  width: 100%;
  height: calc(100vw/1.5);
  background-color: gray;
}

.project-details {
  display: none;
}

.project-tech {
  padding: 0;
}

.project-tech-item {
  display: inline;
}

.project-tech-item:before {
  content: "•";
}

ul.contact-and-links {
  padding: 0;
}

.contact-and-links-item {
  list-style-type: none;
  display: inline-block;
}

@media only screen and (min-width: 400px) {
  .image-container {
    width: 300px;
    height: 225px;
  }
}

@media only screen and (min-width: 740px) {
  body {
    font-size: 100%;
  }

  .page-title {
    flex-direction: row;
    align-items: baseline;
  }

  .top-nav-item {
    display: inline-block;
  }

  .hero .tagline {
    font-size: 5em;
  }
}
