:root {
  --blue: 0,220,235;
  --yellow: 255,217,0;
  --black: 57,50,65;
  --background: rgb(240,250,220)
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 83%;
  color: rgb(var(--black));
}

h1, h2, h3 {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
}

a, a:visited {
  color: black;
  font-size: 1.25em;
}

a:hover {
  background-color: var(--background);
}

.highlight-blue {
  color: rgb(var(--blue));
}

.highlight-yellow {
  color: rgb(var(--yellow));
}

.highlight-background {
  background-color: var(--background);
}

.blink {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  40% { opacity: 0.0; }
  80% { opacity: 1.0; }
}

@keyframes blinker {
  0% { opacity: 1.0; }
  40% { opacity: 0.0; }
  80% { opacity: 1.0; }
}

/* Page top*/
.page-topper {
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-topper * {
  margin: 0;
}

.page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.name {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

.top-nav-list, .top-nav-bar-array {
  position: fixed;
  top: 7px;
  right: 7px;
  padding: 0;
  z-index: 10;
  transition: font-size linear 100ms;
}

.hide-menu {
  font-size: 0.5em;
  transition: font-size linear 100ms;
}

.top-nav-item, .bar {
  list-style-type: none;
  margin-bottom: 2px;
}

.bar {
  position: relative;
  content: "";
  width: 3em;
  height: 0.8em;
  margin-bottom: 2px;
  background-color: rgb(var(--black));
  border-radius: 2px;
  z-index: 2;
  transition: height linear 100ms, width linear 100ms;
}

.hide-bar {
  height: 1.4em;
  width: 0;
  transition: height linear 100ms, width ease-in 200ms;
}


/* Hero */
.hero {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative
}

.hero .tagline {
  font-family: 'Bevan', serif;
  font-size: 3.2em;
}

.arrow-links {
  position: absolute;
  bottom: 0;
  font-size: 1.5em;
}

.down-arrow, .up-arrow, .back-arrow {
  text-decoration: none;
}

.down-arrow:hover, .up-arrow:hover {
  background-color: white;
}

.down-arrow:hover {
  color: rgb(var(--blue));
}

.up-arrow:hover {
  color: rgb(var(--yellow));
}

/* Content General */
.content {
  width: 90%;
  margin: auto;
}

.content section {
  position: relative;
  height: 100vh;
  /*padding: 5vh 0;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

.section-header {
  margin-bottom: 2em;
}

.section-title {
  margin-top: 20px;
}

.about-content, .projects-content, .contact-and-links {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


/* About */
.about-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


/* Projects */
.projects .section-header {
  position: absolute;
}

.list-of-projects {
  padding: 0;
}

.project-listing {
  list-style-type: none;
}

.projects-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.projects-nav, article.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-listing {
  margin: 10px 0;
}

.project:last-child {
  margin: 0;
}

.project-links {
  padding: 0;
}

.project-link-item {
  list-style-type: none;
  display: inline;
  position: relative;
  margin-right: 10px;
}

.project-link-item:after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -8px;
  background-color: rgb(var(--blue));
}

.project-link-item:last-child:after {
  display: none;
}

.contains-sublist {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: baseline;
  -ms-flex-line-pack: start;
}

.project-links-sub-list {
  display: inline;
  padding: 0 0 0 5px;
}

.image-container {
  width: 90vw;
  position: relative;
  border: 1px solid rgb(var(--black));
}

.project-thumb{
  width: 100%;
}

.project-details {
  display: none;
}

.project-tech {
  padding: 0;
}

.project-tech-item {
  display: inline;
}

.project-tech-item:after {
  content: "•";
  color: rgb(var(--yellow));
}

.project-tech-item:last-child:after {
  display: none;
}

.project .arrow-links {
  position: relative;
  top: 20px;
}

/* Contact and Links */
ul.contact-and-links {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.contact-and-links-item {
  list-style-type: none;
  margin: 10px 50px;
}

.link-icon {
  width: 120px;
}

@media screen and (orientation:landscape) and (max-width: 739px) {
  ul.contact-and-links {
    flex-direction: row;
  }
}

@media only screen and (max-width: 739px) {
  .projects-nav, .project {
    min-width: 90vw;
  }
}

@media only screen and (min-width: 400px) {
  .image-container {
    width: 300px;
  }
}

@media only screen and (min-width: 740px) {
  body {
    font-size: 100%;
  }

  a, a:visited {
    font-size: 1em;
  }

  .page-topper {
    background-color: white;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    z-index: 10;
  }

  .page-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .page-title .subtitle {
    margin-left: 10px;
  }

  .top-nav-list {
    position: static;
  }

  .top-nav-item {
    display: inline;
    margin-bottom: 0;
  }

  .hide-menu {
    font-size: 1em;
  }

  .top-nav-bars {
    display: none;
  }

  .hero .tagline {
    font-size: 5em;
  }

  .about-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .paragraph-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .paragraph-group .about {
    max-width: 30%;
    height: 100%;
    text-align: justify;
  }

  .projects .section-header {
    position: relative;
  }

  .projects-nav {
    display: none;
  }

  .projects-content {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
            justify-content: space-around;
  }

  .project {
    max-width: 30%;
    min-width: 300px;
  }

  .project-body {
    width: 300px;
  }

  .project-details {
    display: block;
  }

  .project-description {
    text-align: justify;
  }

  .project .arrow-links {
    display: none;
  }

  ul.contact-and-links {
    flex-direction: row;
  }

  .contact-item-link:hover {
    background: transparent;
  }

  .link-icon:hover {
    color: var(--background);
  }
}

/* Remove hover styles on touch devices */
@media (hover: none) {
    a:hover {
      color: rgb(var(--black));
      background: transparent;
    }
}
